<div class="container">
  
    <form target="_self" action="https://formsubmit.co/5e894ba9997d26a365b50bf3f00228d9" method="POST">
      <div class="form-group">
        <div class="form-row">
          
            <input type="text" name="name" class="form-control" placeholder="Full Name" required>
        </div>
        <br>
        <div class="form-row">
            <input type="email" name="email" class="form-control" placeholder="Email Address" required>
        </div>
        <br>
        <div class="form-row">
            <input type="text" name="phonenumber" class="form-control" placeholder="Phone Number (Optional)">
        </div>
        <br>
      </div>
      <div class="form-group">
        <br>
        <textarea placeholder="Enter your message here." class="form-control" name="message" rows="10" required></textarea>
      </div>
      <input type="hidden" name="_captcha" value="false">
      <input type="text" name="_honey" style="display:none">
      <input type="hidden" name="_next" value="https://singularity.lawyer/thankyou">
      <button type="submit" class="btn btn-lg btn-dark btn-block">Submit</button>
    </form>
    
  </div>
