---
layout: default
---
<!--
<html>
    <head>
    <style>
    body {
      background-image: url('{{ site.baseurl }}/assets/images/bground.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;  
      background-size: cover; 
    }
    </style>
    </head>

    </html>




    <div class="home">

  {{ content }}

</div>

-->

<div class="homesplash">
  {{ page.homesplash_text }}
  <img class="feature-img" src="{{ 'assets/images/img1.jpg' | relative_url }}" />
</div>

 ![home splash1]({{ site.url }}/assets/images/img1.jpg) 

/* Cover Image */
.homesplash {
  background: url(assets/images/img1.jpg);
}
